@font-face {
  font-family: Noto;
  src: url(../font/NotoSansJP-Regular.otf);
  font-display: swap;
}
@font-face {
  font-family: Noto-bold;
  src: url(../font/NotoSansJP-Bold.otf);
  font-display: swap;
}
@font-face {
  font-family: Noto-black;
  src: url(../font/NotoSansJP-Black.otf);
  font-display: swap;
}
@font-face {
  font-family: Noto-medi;
  src: url(../font/NotoSansJP-Medium.otf);
  font-display: swap;
}
@font-face {
  font-family: Noto-lift;
  src: url(../font/NotoSansJP-Light.otf);
  font-display: swap;
}
@font-face {
  font-family: inter;
  src: url(../font/Inter-Medium.ttf);
  font-display: swap;
}
.mb-24 {
  margin-bottom: 24px;
}
body {
  font-family: Noto;
}
.station-richmenu-main {
  background: #f1f4f9;
  padding-top: 10px;
  padding-right: 12px;
  padding-left: 12px;
  &__btn {
    cursor: pointer;
    transition: 0.3s all;
    outline: none;
    img {
      width: 40px;
      max-height: 40px;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }
  &-area {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  &__btn {
    padding: 0;
    border: none;
    outline: 0;
    margin-right: 24px;
  }
  &__ttl {
    font-family: Noto-black;
    font-weight: 900;
    margin-bottom: 0;
    font-size: 30px;
    letter-spacing: -0.02em;
    color: #34425a;
  }

  &-search__border {
    background: #ffffff;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    border-radius: 4px;
  }

  &-search__set {
    border: none;
    height: 41px;
    padding-left: 15px;
    cursor: pointer;
  }
  &-search__btn {
    border: none;
    border-left: 1px solid #ced4da;
    height: 41px;
    width: 95px;
    background: #f8f9fa;
    border-radius: 0px 4px 4px 0px;
    padding: 0;
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      background: #04aaa1;
      img {
        filter: brightness(10);
      }
    }
  }
  &-btn-area {
    background: #04aaa1;
    border-radius: 4px;
    display: inline-flex;
    height: 41px;
    align-items: center;
    padding: 0 58px;
    color: #fff;
    font-family: Noto;
    transition: 0.3s all;
    border: 1px solid #04aaa1;
    &:hover {
      transition: 0.3s all;
      color: #04aaa1;
      background: #fff;
    }
  }
}
.table {
  margin-bottom: 14px;
  tr {
    th {
      background: rgba(29, 50, 105, 0.2);
      border-left: 1px solid #fff;
      font-size: 14px;
      color: #312f39;
      font-weight: 500;
      font-family: Noto-medi;
      padding: 10px 8px;
    }
    td {
      background: #fff;
      padding: 8px 8px;
      border-bottom: 1px solid #f7f7f7;
      color: #312f39;
      font-size: 14px;
      font-family: Noto;
      line-height: 35px;
    }
  }
  &-btn {
    border: 1px solid #3b5999;
    box-sizing: border-box;
    border-radius: 4px;
    color: #3b5999;
    align-items: center;
    padding: 0px 16px;
    height: 28px;
    display: inline-flex;
    background: #ffffff;
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      text-decoration: none;
      color: #fff;
      background: #3b5999;
    }
  }
}

.form-mobie {
  display: none;
}

.smooth {
  margin-bottom: 10px;
}

.actives {
  display: block;
}

.station-richmenu-main-end {
  margin-bottom: 16px;
  &-list__page {
    position: relative;
    z-index: 1;
  }
  &-number {
    margin: 0 6px;
    font-size: 14px;
    font-family: inter;
    color: #000;
  }
  &-nb {
    background: #fff;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    border-radius: 4px;
    width: 64px;
    height: 38px;
    font-size: 14px;
    line-height: 21px;
    color: #6c757d;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-position: 38px;
    padding-left: 12px;
    &::-ms-expand {
      display: none;
    }
  }
  &-bg {
    background: url(../img/paginatopn-03-arow-down.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    right: 70px;
    width: 10px;
    height: 10px;
  }
}

.pagination {
  align-items: center;
  border-radius: 0px 4px 4px 0px;
  margin-bottom: 0;
  .page-link {
    color: #1a1818;
    transition: 0.3s all;
    font-size: 14px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dee2e6;
    &:hover {
      color: #fff;
      transition: 0.3s all;
      background: #037b75;
      border: 1px solid #037b75;
      img {
        filter: brightness(10);
      }
    }
    &.active {
      color: #fff;
      transition: 0.3s all;
      background: #037b75;
      border: 1px solid #037b75;
      img {
        filter: brightness(10);
      }
    }
  }
}
.btn-all {
  &-update {
    background: #3b5999;
    border-radius: 4px;
    outline: none;
    padding: 10px 16px;
    color: #fff;
    border: 1px solid #3b5999;
    transition: 0.3s all;
    cursor: pointer;
    &:hover {
      transition: 0.3s all;
      color: #3b5999;
      background: #fff;
    }
  }
  &-return {
    margin-left: 20px;
    border-radius: 4px;
    background: transparent;
    outline: none;
    transition: 0.3s all;
    border: 1px solid #ccc;
    transition: 0.3s all;
    cursor: pointer;
    padding: 10px 16px;
    color: #002b7f;
    &:hover {
      transition: 0.3s all;
      color: #fff;
      border: 1px solid #3b5999;
      background: #3b5999;
    }
  }
}
#close {
  display: none;
}

.form-decstop {
  padding: 0 15px;
}

.station-richmenu-main-bg__w {
  padding: 20px 0 0 0;
  background: #fff;
}

.title-from {
  font-size: 14px;
  font-family: Noto-medi;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  &::before {
    position: absolute;
    content: "";
    background: #ccc;
    top: 50%;
    transform: translate(-50%);
    width: 176%;
    height: 1px;
    left: 100%;
  }
}
.form-sty {
  position: relative;
  margin: 0;
  padding: 16px 0;
  .col-form-label {
    font-size: 14px;
  }
  &:first-child {
    padding-top: 0;
  }
  &::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #ececec;
  }
  &:last-child {
    &::before {
      display: none;
    }
  }
  .form-control {
    border: none;
    color: #312f39;
    font-size: 14px;
    font-family: Noto;
    &:focus {
      box-shadow: none;
    }
    &::placeholder {
      color: #312f39;
      font-size: 14px;
      font-family: Noto;
    }
  }
  .form-boder {
    border: 1px solid #ced4da;
    &::placeholder {
      color: #6c757d;
    }
  }
}
.checkmark {
  position: absolute;
  top: 50%;
  left: -70px;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.set input:checked ~ .checkmark {
  background-color: #037b75;
  border: 1px solid #037b75;
}
.checkbox-none {
  visibility: hidden;
  opacity: 0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.set input:checked ~ .checkmark:after {
  display: block;
}
.set .checkmark:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: url(../img/checked.png) no-repeat;
  background-size: 100%;
}
.input-sty {
  background: url("../img/edit-iput-bg002.png") 97% 50% no-repeat;
  &::-webkit-inner-spin-button {
    display: none;
  }
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}
@import "mobie";
